<!-- Terms Modal -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{% trans %}terms &amp; conditions{% endtrans %}</h3>
                </div>
                <div class="block-content">
                    <p class="text-center"><b>INFORMATIVA SULLA PRIVACY</b></p>
    
                    <p>
                        In questa informativa si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano, nonché le pratiche di trattamento dei dati trasmessi dall’interessato al Titolare tramite questo sito.
                        Si tratta di un’informativa che è resa ai sensi dell’art. 13 del d.lgs.n. 196/2003 – Codice in materia di protezione dei dati personali a coloro che interagiscono con i servizi web dell’associazione Betaomegachi con domicilio fiscale in Via Neera, 33 – 20141 Milano (MI), accessibili per via telematica a partire dall’indirizzo: http://www.betaomegachi.com/ corrispondente alla pagina iniziale del sito BOX.
                        L’informativa è resa solo per il sito in questione e non anche per altri siti web eventualmente consultati dall’utente tramite link.
                    </p>
    
                    <p><b>IL “TITOLARE” E LE TIPOLOGIE DI TRATTAMENTO</b></p>
    
                    <p>
                        Il “Titolare” del trattamento di dati personali è Betaomegachi con domicilio fiscale in Via Neera, 33 – 20141 Milano (MI). Per trattamento si deve intendere: qualunque operazione o complesso di operazioni, effettuati anche senza l’ausilio di strumenti elettronici, concernenti la raccolta, la registrazione, l’organizzazione, la conservazione, la consultazione, l’elaborazione, la modificazione, la selezione, l’estrazione, il raffronto, l’utilizzo, l’interconnessione, il blocco, la comunicazione, la cancellazione e la distruzione di dati, anche se non registrati in una banca di dati. Non verrà effettuata diffusione di dati.
                    </p>
                    
                    <p><b>LUOGO DI TRATTAMENTO DEI DATI</b></p>
                    <p>
                        I trattamenti connessi ai servizi web di questo sito hanno luogo su server gestiti dalla società SeewebSrl.
                    </p>
                    <p><b>MODALITA’ DEL TRATTAMENTO</b></p>
                    
                    <p>
                        I dati personali sono trattati, anche con strumenti automatizzati ed elettronici, per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti.
                        I dati personali forniti dagli utenti che si registrano o inoltrano richieste di invio di materiale informativo (bollettini, risposte a quesiti, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi non nominati incaricati o responsabili dal Titolare nel solo caso in cui ciò sia a tal fine necessario (previo consenso dell’interessato o per prestazione necessaria ad eseguire il contratto o per obbligo di legge).
                    </p>
                    <p><b>TIPI DI DATI TRATTATI</b></p>
                    <p><b>DATI DI NAVIGAZIONE E RELATIVE FINALITÀ</b></p>
                    <p>
                        I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.
                        Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.
                        In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.
                        Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento (si veda anche il paragrafo sui Cookies). I dati potrebbero essere utilizzati dalle autorità competenti per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito.
                        Possono essere trattati inoltre dati personali forniti volontariamente dall’utente. Alcuni dati di navigazione possono essere trasferiti fuori dalla Unione Europea, solo verso Paesi Terzi considerati sicuri ai sensi dell’art. 44 del Codice Privacy.
                    </p>
                    <p><b>COOKIES</b></p>
                    <p>
                        L’uso di c.d. cookies di sessione (che non vengono memorizzati in modo persistente sul computer dell’utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire l’esplorazione sicura ed efficiente del sito e delle sue applicazioni.
                        I c.d. cookies di sessione utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l’acquisizione di dati personali identificativi dell’utente.
                        Questo sito web utilizza alcuni sistemi che analizzano la navigazione degli utenti per realizzare statistiche sulle visite o per migliorare l’offerta dei contenuti, mostrare prodotti fra loro analoghi e posizionare, eventualmente, advertising mirato nelle pagine web. Il sistema utilizzato è Google Analytics, quest’ultimo un servizio di analisi web fornito da Google, Inc. (“Google”). Google Analytics, come gli altri sistemi, utilizza dei “cookies”, che sono file di testo che vengono depositati sul Vostro computer per consentire al sito web di analizzare come gli utenti utilizzano il sito. Le informazioni generate dal cookie sull’utilizzo del sito web da parte Vostra (compreso il Vostro indirizzo IP) verranno trasmesse a, e depositate presso i server di Google negli Stati Uniti. Google utilizzerà queste informazioni allo scopo di tracciare e esaminare il Vostro utilizzo del sito web, compilare report sulle attività del sito web per gli operatori del sito web e fornire altri servizi relativi alle attività del sito web e all’utilizzo di Internet. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di Google. Google non associerà il vostro indirizzo IP a nessun altro dato posseduto da Google. Potete rifiutarvi di usare i cookies selezionando l’impostazione appropriata sul vostro browser, ma ciò potrebbe impedirvi di utilizzare tutte le funzionalità di questo sito web. Utilizzando il presente sito web, voi acconsentite al trattamento dei Vostri dati da parte di Google per le modalità e i fini sopraindicati.
                        Non viene fatto altro uso di cookies per la trasmissione di informazioni di carattere personale, né vengono utilizzati altri cookies persistenti di alcun tipo, ovvero sistemi per il tracciamento degli utenti. Vi ricordiamo che potete impostare il vostro software browser per internet (es. Firefox, Internet Explorer, Safari, Chrome) in modalità tale da non accettare i cookies, attivando la cosiddetta navigazione anonima, e che in tal caso nessun dato verrà trattato attraverso questi sistemi.
                    </p>
                    
                    <p><b>CONFERIMENTO DEI DATI DIVERSI DA QUELLI DI NAVIGAZIONE E RELATIVE FINALITÀ</b></p>
                    <p>
                        A parte quanto specificato per i dati di navigazione, l’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito, o attraverso i moduli di comunicazione, comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. Specifiche informative di sintesi e richieste di consensi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi. Il loro mancato conferimento potrebbe in alcuni casi comportare l’impossibilità di ottenere quanto richiesto. A seguito della consultazione di questo sito, o della volontaria registrazione in esso, possono essere trattati dati relativi a persone identificate o identificabili, non dati sensibili o idonei a rivelare lo stato di salute, fatto salvo per quanto spontaneamente inviato a BOX dall’utente il quale comunque si deve considerare avvertito di non usare connessioni e protocolli di trasmissione non cifrati per l’invio di dati sensibili. Sul sito www.betaomegachi.com, infatti, non è installato protocollo sicuro https.
                    </p>
                    <p><b>DIRITTI DEGLI INTERESSATI</b></p>
                    <p>
                        I soggetti cui si riferiscono i dati personali hanno il diritto in qualunque momento di ottenere la conferma dell’esistenza o meno dei medesimi dati e di conoscerne il contenuto e l’origine, verificarne l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la rettificazione (art. 7 del d.lgs. n. 196/2003).
                        Ai sensi del medesimo articolo si ha il diritto di chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento.
                        Le richieste vanno rivolte per e-mail all’indirizzo info.betaomegachi@gmail.com
                    </p>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                <button class="btn btn-sm btn-primary agree" type="button" data-dismiss="modal"><i class="fa fa-check"></i>{% trans %}I agree{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modal-send-msg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-blue">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{% trans %}New message{% endtrans %}</h3>
                </div>
                <div class="block-content sending">
                    <form action="{{ path('app_sender') }}" class="notificate-email">
                        <div class="col-xs-12">
                            To: <span class="email-list"></span>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-material">
                                <input class="form-control" type="text" id="material-text" name="subject" placeholder="Subject...">
                                <label for="material-text"></label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-material">
                                <textarea class="form-control" id="material-textarea-small" name="text" rows="3" placeholder="Type your message here..."></textarea>
                                <label for="material-textarea-small"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <button class="btn btn-minw btn-square btn-primary submit-email" type="submit">{% trans %}Send{% endtrans %}</button>
                        </div>
                    </form>
                    <div class="clear"></div>
                    <div class="modal-footer">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Terms Modal -->